* {
    box-sizing: border-box;
    font-size: larger;

}

.calculadora{
    /* grid */
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: 40px  200px repeat(5,100px);
    /* posicion */
    width: 400px;
    margin: auto;

    /* decoracion */
    background-color: rgb(255, 255, 255);

    border:solid 2px black;
    border-radius: 25px;
}

.btn{
cursor: pointer;
margin: 10px;
}
.operador{
    border-radius: 50px;
    border: solid 1px aliceblue;
    background-color: rgb(221, 221, 221);
}
.operador:active{
    box-shadow: 0px 0px 10px;
}
.numero{
    border: none;
    background-color: white;
}
.numero:active{
    background-color:rgb(221, 221, 221);
    border: solid 1px aliceblue;
    border-radius: 50px;
}

.result{
    grid-row: 2;
    grid-column: 1/5;
    margin: 10px;
}
.box-result{
background-color: grey;
}
.box-resultd{
    background-color: rgb(22, 31, 44);
    color: aquamarine;
}

.box-result2{
    height: 40%;
    width: 100%;
    border: none;
    border-radius: 30px 30px 0px 0px;
    text-align: end;
    font-size: 1em;
    padding: 25px;
}
.box-result1 {
    height: 60%;
    width: 100%;
    border: none;
    border-radius: 0px 0px 30px 30px;
    text-align: end;
    font-size: 2em;
    padding: 15px;
}

.bora{
grid-row:3 ;
grid-column: 1;
}
.cSigno{
    grid-row:3 ;
    grid-column: 2;
}
.rDivision{
    grid-row:3 ;
    grid-column: 3;
}
.division{
    grid-row:3 ;
    grid-column: 4;
}
.mult{
    grid-row:4 ;
    grid-column: 4;
}
.rest{
    grid-row:5 ;
    grid-column: 4;
}
.sum{
    grid-row:6 ;
grid-column: 4;
}
.igual{
    grid-row:7 ;
    grid-column: 4;
    background-color: aquamarine;
    color: white;
    border-radius: 50px;
    border: solid 1px aliceblue;
}
.igual:active{
    box-shadow: 0px 0px 10px black;
}
.uno{
    grid-row:6 ;
    grid-column: 1;
}
.dos{
    grid-row:6 ;
    grid-column: 2;
}
.tres{
    grid-row:6 ;
    grid-column: 3;
}
.cuatro{
    grid-row:5 ;
    grid-column: 1;
}
.cinco{
    grid-row:5 ;
    grid-column: 2;
}
.seis{
    grid-row:5 ;
    grid-column: 3;
}
.siete{
    grid-row:4 ;
    grid-column: 1;
}
.ocho{
    grid-row:4 ;
    grid-column: 2;
}
.nueve{
    grid-row:4 ;
    grid-column: 3;
}
.cero{
    grid-row:7 ;
    grid-column: 1;
}
.punto{
    grid-row:7 ;
    grid-column: 2;
}
.darkfond{
    background-color: rgb(29, 41, 58);
 }
 .darkoper{
    border-radius: 50px;
    border: solid 1px aliceblue;
    background-color: rgb(22, 31, 44);
    color: aquamarine;

}
.darkoper:active{
    box-shadow: 0px 0px 10px aquamarine;
}
.darknumero{
    background-color: rgb(29, 41, 58);
    border: none;
    color: white;
}
.darknumero:active{
    background-color:rgb(22, 31, 44);
    border: solid 1px rgb(29, 41, 58);
    border-radius: 50px;
}